doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title=Index
		link(rel="stylesheet", href="css/admin.css", type="text/css")
		script(src="js/jquery-3.1.0.js", defer)
		script(src="index_script.js", defer)
	body
		main(id="adminMain")
			div(class="wrap-content bdb_lg")
				section(class="h1 text-center m_t_25p")
					h1 Wanderland Admin
				section(class="login-box")
					form(action="/profile" method="get")
						div(class="email-section")
							div(class="m_t_20x m_b_20x text-center")
								label(class="h3") 
									h3 email
								input(type="email" placeholder="Enter your email" name="email" id="adminEmail")
							div(class="error-wrap")
								span(class="error")=errors.error_email
						div(class="pw-section")
							div(class="m_t_20x m_b_20x text-center")
								label(class="h3") 
									h3 password
								input(type="password" placeholder="password" name="password" id="adminPass")
							div(class="error-wrap")
								span(class="error")=errors.error_email
							div(class="m_t_20x text-center")
								input(id="adminLogin" type="button" value="Login")