doctype html
html
  head
    title Country
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='../css/country_style.css')
    script(src='../js/jquery-3.1.0.js', defer='')
    script(src='../js/post.js', defer='')
    link(rel='stylesheet', href='../css/w3.css')
    link(rel='stylesheet', href='../css/w3-theme-teal.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
  #wrap
    body#entity
      nav.w3-top
        ul.w3-navbar.w3-theme-d2.w3-left-align.w3-large
          li
            a.w3-padding-large.w3-hover-white(href='#')
              i.fa.fa-home
          li
            a.w3-padding-large.w3-hover-white(href='#', title='Account Settings')
              i.fa.fa-user
          li.w3-hide-small
            a.w3-padding-large.w3-hover-white(href='#', title='Inbox')
              i.fa.fa-envelope
          li.w3-hide-small
            a.w3-padding-large.w3-hover-white(href='#', title='Notifications')
              i.fa.fa-bell
          li.w3-hide-small
            a.w3-padding-large.w3-hover-white(href='#', title='Admin Panel')
              i.fa.fa-eye
          li.w3-hide-small.w3-right
            a.w3-padding-large.w3-hover-white(href='#', title='My Account')
              img.w3-circle.avatar(src='../assets/images/avatar.jpg', alt='Avatar')
      #product_page
        #product_title= country_info.country_name
        #product_image
          each val, index in main_images
            img.slide_image(src= val, alt='')

          a#left_slide_button(onclick='plusDivs(-1)') &lt;
          |  
          a#right_slide_button.slide_button(onclick='plusDivs(1)') &gt;
      #major_city
        h2
          | Major Cities
          #city_list
            each val, index in related_cities
              a(href='http://wander-land.herokuapp.com/city/'+val.city_id)
              .city_item
                img(src='../img/city_images/'+val.city_id+'_1.jpg')
                |
                span.city_title= val.name

