doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= pageTitle
        link(rel="stylesheet", href="style.css")
        script(src="jquery-3.1.0.js", defer)
    body
        ul
            for result in results
                li=result.username + " - " + result.city