doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= message
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
        link(rel="stylesheet", href="css/message.css")
        link(rel='stylesheet', href='css/w3.css')
        link(rel='stylesheet', href='css/w3-theme-teal.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js", defer)
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", defer)
        script(src="https://cdn.socket.io/socket.io-1.4.5.js", defer)
        script(src="js/message.js", defer)

    body
        section(class="top-nav bdb-lg")
            nav.w3-top.top-nav
                ul.w3-navbar.w3-theme-d2.w3-left-align.w3-large
                    li
                    a.w3-padding-large.w3-hover-white(href='/')
                        i.fa.fa-home
                    li
                    a.w3-padding-large.w3-hover-white(href='/profile', title='Account Settings')
                        i.fa.fa-user
                    li.w3-hide-small.w3-right
                        form(class="anchor-wrap" action="/logout" method="get")
                            input(type="submit" class="flt_r m_l_5" id="logoutButton" value="SIGN OUT")
        section(class="main col-md-10 col-md-offset-1")
            section(class="overlay" id="first")
                section(class="overlay-content")
                    section(class="alert alert-danger", id="errors")
                    section(id="login-screen")
                        p Please pick a username
                        form(class="form-inline", id="nameForm")
                            section(class="form-group")
                                input(type="text", class="form-control input-lg", value= email, id="name")
                            input(type="submit", name="join", id="join", value="Join", class="btn btn-success btn-lg")

            section(class="row", id="main-message-screen")
                section(class="col-md-3")
                    ul(id="rooms", class="list-group")
                    ul(id="people", class="list-group")
                section(class="col-md-8")
                    section(id="convo")
                        ul(id="msgs", class="list-unstyled")
                    form(id="messageForm", class="form-inline")
                        section(class="form-group")
                            input(type="text", class="form-control input-lg", placeholder="Your message", id="msg")
                        input(type="submit", name="send", id="send", value="Send", class="btn btn-success btn-lg")
                        button(class="btn btn-lg btn-warning", name="createRoom", data-toggle="modal", data-target="#roomModal") Create
                        button(class="btn btn-lg btn-danger", name="leave", id="leave") Leave

        section(class="modal fade", id="roomModal", tabindex="-1", role="dialog")
            section(class="modal-dialog")
                section(class="modal-content")
                    section(class="modal-header")
                        button(type="button", class="close", data-dismiss="modal") &times;
                        h4(class="modal-title", id="createRoomLabel") Create room
                    section(class="modal-body")
                        form(class="form-inline", id="createRoomForm")
                            input(type="text", class="form-control input-lg", placeholder="Room name", id="createRoomName")
                    section(class="modal-footer")
                        button(type="button", class="btn btn-lg btn-warning", data-dismiss="modal") Close
                        button(data-dismiss="modal", id="createRoomBtn", class="btn btn-info btn-lg") Create room


