doctype strict
html(xmlns='http://www.w3.org/1999/xhtml', xml:lang='en', lang='en')
  head
    title JQVMap - World Map
    meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
    link(href='js/jqvmap/dist/jqvmap.css', media='screen', rel='stylesheet', type='text/css')
    link(href='css/world_map_style.css', media='screen', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='js/jquery-3.1.0.js')
    script(type='text/javascript', src='js/jqvmap/dist/jquery.vmap.js')
    script(type='text/javascript', src='js/jqvmap/dist/maps/jquery.vmap.world.js', charset='utf-8')
    script(type='text/javascript', src='js/jqvmap/examples/js/jquery.vmap.sampledata.js')
    script(type='text/javascript', src='js/world_map_script.js')
    link(rel='stylesheet', href='../css/w3.css')
    link(rel='stylesheet', href='../css/w3-theme-teal.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
  body
    nav.w3-top
      ul.w3-navbar.w3-theme-d2.w3-left-align.w3-large
        li
          a.w3-padding-large.w3-hover-white(href='#')
            i.fa.fa-home
        li
          a.w3-padding-large.w3-hover-white(href='#', title='Account Settings')
            i.fa.fa-user
        li.w3-hide-small
          a.w3-padding-large.w3-hover-white(href='#', title='Inbox')
            i.fa.fa-envelope
        li.w3-hide-small
          a.w3-padding-large.w3-hover-white(href='#', title='Notifications')
            i.fa.fa-bell
        li.w3-hide-small
          a.w3-padding-large.w3-hover-white(href='#', title='Admin Panel')
            i.fa.fa-eye
        li.w3-hide-small.w3-right
          a.w3-padding-large.w3-hover-white(href='#', title='My Account')
            img.w3-circle.avatar(src='../assets/images/avatar.jpg', alt='Avatar')
    #title Click anywhere on the map to search for country. Click and hold to drag the map after the map is zoomed in. 
    #vmap