doctype strict
html(xmlns='http://www.w3.org/1999/xhtml', xml:lang='en', lang='en')
  head
    title JQVMap - World Map
    meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
    link(href='js/jqvmap/dist/jqvmap.css', media='screen', rel='stylesheet', type='text/css')
    link(href='css/world_map_style.css', media='screen', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='js/jquery-3.1.0.js')
    script(type='text/javascript', src='js/jqvmap/dist/jquery.vmap.js')
    script(type='text/javascript', src='js/jqvmap/dist/maps/jquery.vmap.world.js', charset='utf-8')
    script(type='text/javascript', src='js/jqvmap/examples/js/jquery.vmap.sampledata.js')
    script(type='text/javascript', src='js/world_map_script.js')
  body
    #vmap