body {
	background-color: #F6F6F6;
}

input.submitButton{
	font-size:20px;
	border:none;
    -webkit-appearance:none;

}

input.submitButton:hover{
	cursor:pointer;
	text-decoration: underline;
}

input.submitButton:focus{
	outline: none;
}

#product_title {
	margin-top: 8%;
	width: 100%;
	text-align: center;
	font-size: 50px;
}

#product_image {
	display: inline-block;
	position: relative;
	margin-top: 2%;
	margin-left: 3%;
	width: 45%;
	height: 30vw;
	border: solid gray 2px;
	vertical-align: bottom;

}
#product_info {
	position: relative;
	display: inline-block;
	margin-top: 2%;
	margin-left: 3%;
	border: solid gray 2px;
	width: 45%;
	height: 30vw;
	vertical-align: bottom;
}
.slide_image {
	height: 100%;
	width: 100%;
	
}

#left_slide_button{
	position: absolute;
	left: 10px;
	top: 45%;
	z-index: 1;
}
#right_slide_button{
	position: absolute;
	right: 10px;
	top: 45%;
	z-index: 1;

}
#left_slide_button:hover{
	cursor: w-resize;
}
#right_slide_button:hover {
	cursor: e-resize;
}


#product_info_text {
	overflow: scroll;
	height: 85%;
}

#product_info * {
	margin-left: 5px;
}

#contact_seller_button {
	position: absolute;
	width: 40%;
	left: 30%;
	text-align: center;
	display: inline-block;
	border: solid gray 2px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 2vw;
	background-color: #176457;
	bottom: 5px;
}
#contact_seller_button a{
	color: white;
}
#contact_seller_button:hover{
	background-color: orange;
}
#contact_seller_button a:hover{
	color: black;
}


#recommendation * {
	margin-left: 5px;
}
#recommendation {
	border: solid gray 2px;
	display: block;
	margin-top: 2%;
	margin-left: 3%;
	margin-right: 4%;
	height: 25vw;
	vertical-align: bottom;
}

#related_product_list {
	margin: 10px;
	height: 85%;
	overflow: scroll;
	white-space: nowrap;
}

.related_product {
	display: inline-block;
	position: relative;
	width: 25%;
	height: 70%;
	margin-right: 5px;
}
.related_product img{
	display: block;
	height: 90%;
	width: 90%;
}
.related_product_title {
	display: block;
	font-size: 1.5rem;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}