* {
	font-family: "Open Sans", sans-serif;
}
.text-centre{
	text-align: center;
}
a:link{
	color:black;
	text-decoration:none;
}
a:visited{
	text-decoration: none;
	color:black;
}
a.underlined:hover{
	text-decoration:underline;
}
header {
	border-bottom: solid black 1px;
}
.search_bar {

    width: 50%;
	font-size: 200%;
}

.button {
	margin-top:1%;
	line-height: 50px;
	width:15%;
	background-color:#005892;
	color:white;
	overflow: auto;
	font-weight: bold;
	font-size: 150%;
}

.button:hover{
	background-color: white;
	color:#005892;
	font-weight: bold;
}
