* {
    font-family: "Open Sans", sans-serif;
}

input[type=text] {
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 2px;
    font-size: 18px;
    background-color: white;
    padding: 5px 20px 5px 20px;
    margin-top: 3px;
    margin-left: 100px;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 50%;
}

img {
    width: 100%;
}

#navS {
    margin-top:51px
}

#adminMain, #resultMain {
    margin-top:80px;
}

#adminMain {
    max-width:1400px;
}

/*#resultMain {
    margin-left:300px;
}*/
